#!/bin/bash
SAM_CHOICE=SAM2
SDPC_TILE_PREFIX=
SDPC_TILE_IMAGEURL=
SVS_TILE_PREFIX=
SVS_TILE_IMAGEURL=
LOCAL_TILE_URL="./tiles" 
DOWNLOAD_RETRY="3"
LOCAL_STORAGE="~/.cache/label-studio/"
TEST_TILE_STORAGE="../tile_image/"
CACHE_MAX_AGE_HOURS="24"       # 缓存文件最长保留时间（小时），超过则被清理，默认 24
CACHE_CLEAN_INTERVAL_HOURS="1" # 后台清理任务执行间隔（小时），默认 1